apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: ecommercesecond
  labels:
    role: backend
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: backend
  template:
    metadata:
      labels:
        role: backend
    spec:
      containers:
        - name: backend
          image: 050305920682.dkr.ecr.ap-south-1.amazonaws.com/ecommbackend:8
          imagePullPolicy: Always
          env:
            - name: MONGODB_URI
              valueFrom:
                configMapKeyRef:
                  name: backend-cm
                  key: mongo_url
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-cm   
                  key: port
            - name: TOKEN_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: backend-sec
                  key: jwtsecreat
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-sec
                  key: username
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-sec
                  key: password
            - name: FRONTEND_URL
              valueFrom:
                configMapKeyRef:
                  name: backend-cm
                  key: frontend_url
          ports:
            - containerPort: 4000