apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: ecommercesecond
spec:
  ports:
    - port: 80
      targetPort: 4000
      protocol: TCP
  type: ClusterIP
  selector:
    role: backend