apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: ecommercesecond
  labels:
    role: frontend
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      containers:
        - name: frontend
          image: 050305920682.dkr.ecr.ap-south-1.amazonaws.com/ecomfront:53
          imagePullPolicy: Always
          ports:
            - containerPort: 80