apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: ecommercesecond
spec:
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: ClusterIP
  selector:
    role: frontend